body,html {
    height: 100vh;
    margin: 0;
}
.section1{
    height: 100vh;
    width: 100vw;
}
.text {
    width: 70%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    position: relative;
    bottom: 80%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.scroll {
    width: 60%;
    height: 20%;
    position: relative;
    bottom: 60%;
    color: white;
    margin-left: 10%;
}
.background-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    
}
 .header-logo{     
     width: 20%;
     height: 20%;
 }
a{
   text-decoration: none;
   color: white;
}
.nav-bar{
    position: relative;
    bottom:90%;
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}
.nav-items {    
    display: flex;
    flex-direction: row;   
}
.nav-link {
    color: white;
    display: flex;
    align-items: flex-end;
    margin: 10px;

}
.maincontent {
    height: 130vh;
    display: flex;
    padding: 8vw 10vw;
}

.seconddataheader-left>h1 {
    font-size: 50px;
    margin-bottom: -25px;
    font-weight: normal;
    margin-top: 100px;
}

.seconddataheader-left>h2 {
    font-size: 60px;
    font-weight: 50;
    font-family: sans-serif;
    margin-bottom: 50px;
    margin-top: 20px;

}

.seconddata-body {
    height: 65vh;
    position: relative;
}

.images {
    position: absolute;
    display: flex;
}
.footer {
    margin-top: 100px;
    background-color: #161f1e;
    display: flex;
    flex-direction: column;
    padding: 4vw 6vw;
}

.footer-bottom {
    margin-bottom: 30px;
    margin-left: 40px;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-data>span {
    padding-bottom: 15px;
}

.footer-data {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
}

.footer-content {
    margin-left: 90px;
}
.footerLogo {
    width: 20%;
    margin: -41px;
    padding-left: 74px;
}