.mainHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.headercontent {
    display: block;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.headerdiv {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    color: white;
    position: relative;
    top: 20%;
}

.leftheader {
    width: 15%;
    height: 15%;
}

.rightheader ul {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    position: relative;
    color: aliceblue;
    overflow: hidden;
    text-decoration: none;
    z-index: 2;
}

.menulink {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.item {
    display: block;
    margin-right: 1.5rem;
    overflow: hidden;
    z-index: 2;
    font-size: .9rem;
    font-size: 25px;
    margin-left: 45px;
    color: rgb(211, 30, 30);
}

.title {
    color: whitesmoke;
    font-size: 100px;
    margin-left: 320px;
    margin-bottom: 300px;
    padding: 0px 0 5px 10%;
}

.data {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    bottom: 22.5rem;
    left: 8vw;
    position: absolute;
    z-index: 4;
}

.maincontent {
    height: 130vh;
    display: flex;
    padding: 8vw 10vw;
}

.seconddataheader-left>h1 {
    font-size: 50px;
    margin-bottom: -25px;
    font-weight: normal;
    margin-top: 100px;
}

.seconddataheader-left>h2 {
    font-size: 60px;
    font-weight: 50;
    font-family: sans-serif;
    margin-bottom: 50px;
    margin-top: 20px;

}

.seconddata-body {
    height: 65vh;
    position: relative;
}

.images {
    position: absolute;
    display: flex;
}
.footer {
    margin-top: 100px;
    background-color: #161f1e;
    display: flex;
    flex-direction: column;
    padding: 4vw 6vw;
}

.footer-bottom {
    margin-bottom: 30px;
    margin-left: 40px;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-data>span {
    padding-bottom: 15px;
}

.footer-data {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
}

.footer-content {
    margin-left: 90px;
}
.footerLogo {
    width: 20%;
    margin: -41px;
    padding-left: 74px;
}