<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../Css/Gallary.css">
    <title> Discovery Land Company</title>
</head>

<body>
    <header>
        <div class="header-div" id="header">
            <div class="logo" id="logo">
                <img src="../Assets/logo.svg" alt="">
            </div>
            <nav class="nav">
                <ul class="nav-items" id="items">
                    <li class="link"><a id="aboutdlc" href="#">About DLC</a></li>
                    <li class="link"><a id="ourworl" href="OurWorld.html">Our World</a></li>
                    <li class="link"><a id="exp" href="Experience.html">Experiences</a></li>
                    <li class="link"><a id="gallery" href="Gallary.html">Gallery</a></li>
                    <li class="link"><a id="press" href="">Press</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-title">Gallary</div>
    </header>
    <main class="main">
        <div class="rowitems">
            <img src="../Assets/Gallaryimg-2.png" alt="">
            <p class="para">Outdoor Pursuits</p>
        </div>
        <div class="rowitems">
            <img src="../Assets/Gallaryimg-3.png" alt="">
            <p class="para">Golf</p>
        </div>
        <div class="rowitems">
            <img src="../Assets/Gallaryimg-4.png" alt="">
            <p class="para">Lifestyle</p>
        </div>
        <div class="rowitems">
            <img src="../Assets/Gallaryimg-5.png" alt="">
            <p class="para">Landscapes</p>
        </div>
        <div class="rowitems">
            <img src="../Assets/Gallaryimg-6.png" alt="">
            <p class="para">Clubhouse</p>
        </div>
        <div class="rowitems">
            <img src="../Assets/Gallaryimg-7.png" alt="">
            <p class="para">Wellness</p>
        </div>
    </main>
    <footer>
        <div class="footer-top">
            <div class="footer-left">
                <img class="footerLogo" src="../Assets/footerLogo.png">
            </div>
            <div class="footer-data">
                <div class="footer-content">
                    <p>GET IN TOUCH</p>
                    <p>(480)634-5200</p>
                    <p>mail@discoverylandco.com</p>
                </div>
                <div class="footer-content">
                    <p>About DLC</p>
                    <p>Our Worlds</p>
                    <p>Experiences</p>
                    <p>Gallery</p>
                    <p>Press</p>
                </div>
                <div class="footer-content">
                    <p>Magazine</p>
                    <p>Careers</p>
                    <p>Foundation</p>
                    <p>Company</p>
                    <p>Contact</p>
                    <p>Privacy</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <span>@ DiscoveryLand Company. All rights reserved</span>
        </div>
    </footer>
</body>

</html>