<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../Css/HomePage.css">
    <title>Discovery Land Company</title>
</head>

<body>
    <div class="section1">
        <video autoplay muted loop class="background-video">
            <source src="../Assets/Videos/3074e6fa-e0d228b2.mp4" type="">
        </video>
        <div class="nav-bar">
            <div class="header-logo">
                <img src="../Assets/logo.svg" alt="">
            </div>
            <nav class="nav-class">
                <ul class="nav-items" id="header">
                    <li class="nav-link"><a href="Aboutdlc.html">AboutDLC</a></li>
                    <li class="nav-link"><a href="OurWorld.html">OurWorlds</a></li>
                    <li class="nav-link"><a href="Experience.html">Experiences</a></li>
                    <li class="nav-link"><a href="Gallary.html">Gallery</a></li>
                    <li class="nav-link"><a href="press.html">Press</a></li>
                </ul>
            </nav>

            <div class="text">
                <h>Discover<br>Your World</h>
            </div>
            <div class="scroll">Scroll to explore</div>
        </div>
        <div class="maincontent">
            <div class="firstdata">
                <div class="leftcontent">
                    <h1 class="wellcometext">Wellcome to</h1>
                    <h2 class="worldtext">our world</h2>
                    <article class="first-content-text">Discover the unique atmosphere of our private residential club
                        communities.Once experienced. Never forgotton.This is classic, comfortable, modern living in
                        nature's most
                        spectacular settings worldwide. Reassuringly exclusive. Generously welcoming. Find your unique
                        world - a place where families love to be; creating unforgettable moments, together.
                    </article>
                </div>
                <div>
                    <img class="left-side-image"
                        src="https://discoverylandco.com/imager/images/11023/ocean-club-in-the-bahamas-2_df8586bb4c14d18f77324f7452f392cd.jpg">
                </div>
            </div>
            <div>
                <div class="right-side">
                    <img class="right-side-image"
                        src="https://discoverylandco.com/imager/images/11062/Yellowstone-Club-2_76fe09b415dcada4f46ba4114338562c.png">
                </div>
            </div>
        </div>
        <div class="seconddata">
            <div class="seconddataheader">
                <div class="seconddataheader-left">
                    <h1>Explore</h1>
                    <h2>Our Worlds</h2>
                </div>
                <div class="seconddataheader-right">
                    <div class="arrow">
                        <img src="../Assets/Arrow.png" alt="">
                    </div>
                </div>
            </div>
            <div class="seconddata-body">
                <div class="images">
                    <article>
                        <img
                            src="https://dxaurk9yhilm4.cloudfront.net/images/8816/iStock-937940104_carousel_397186feb8bd51bb37bc24fc2b9b500f.jpg">
                        <div class="image-text">
                            <h3>North Shore preserve</h3>
                            <p>Kaua'i, Hawaii</p>
                        </div>
                    </article>
                    <article>
                        <img
                            src="https://dxaurk9yhilm4.cloudfront.net/images/6944/Carousel_500x750_200612_084523_397186feb8bd51bb37bc24fc2b9b500f.jpg">
                        <div class="image-text">
                            <h3>james island</h3>
                            <p>southern gulf islands, british columbia, canada</p>
                        </div>
                    </article>
                    <article>
                        <img
                            src="https://dxaurk9yhilm4.cloudfront.net/images/6894/IMG_00162-copy_397186feb8bd51bb37bc24fc2b9b500f.jpg">
                        <div class="image-text">
                            <h3>costaterra</h3>
                            <p>comporta, portugal</p>
                        </div>
                    </article>

                </div>
            </div>
        </div>


        <div class="footer">
            <div class="footer-top">
                <div class="footer-left">
                    <img class="footerLogo" src="../Assets/footerLogo.png">
                </div>
                <div class="footer-data">
                    <div class="footer-content">
                        <p>GET IN TOUCH</p>
                        <p>(480)634-5200</p>
                        <p>mail@discoverylandco.com</p>
                    </div>
                    <div class="footer-content">
                        <p>About DLC</p>
                        <p>Our Worlds</p>
                        <p>Experiences</p>
                        <p>Gallery</p>
                        <p>Press</p>
                    </div>
                    <div class="footer-content">
                        <p>Magazine</p>
                        <p>Careers</p>
                        <p>Foundation</p>
                        <p>Company</p>
                        <p>Contact</p>
                        <p>Privacy</p>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <span>@ DiscoveryLand Company. All rights reserved</span>
            </div>
        </div>
</body>

</html>