<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/Ourworld.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="header-div" id="header">
            <div class="logo" id="logo">
                <img src="../Assets/logo.svg" alt="">
            </div>
            <nav class="nav">
                <ul class="nav-items" id="items">
                    <li class="link"><a id="aboutdlc" href="#">About DLC</a></li>
                    <li class="link"><a id="ourworl" href="../Templates/OurWorld.html">Our World</a></li>
                    <li class="link"><a id="exp" href="">Experiences</a></li>
                    <li class="link"><a id="gallery" href="../Templates/Gallary.html">Gallery</a></li>
                    <li class="link"><a id="press" href="">Press</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="content">
        <div class="images">
            <div class="cards">
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-1.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HOMEWOOD MOUNTAIN & LAKE CLUB</h5>
                        <div class="location">Lake Tahoe,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-2.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">CORDEVALLE</h5>
                        <div class="location">Silicon Valley,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-3jpg.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">MADSION</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-4.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-5.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">THE SUMMIT</h5>
                        <div class="location">Las Vegas,Nevada</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-6.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">ESTANCIA</h5>
                        <div class="location">Scottsdale,Arizona</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-7.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">MIRABEL</h5>
                        <div class="location">Scottsdale,Arizona</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-8.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">EL DARADO</h5>
                        <div class="location">Los Cabos Mexico</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-9.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">CHILENO BAY</h5>
                        <div class="location">Cobo San Lucas,Mexico</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-10.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">JAMES ISLAND</h5>
                        <div class="location">British Columbia, Canada</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-11.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">GOZZER RANCH</h5>
                        <div class="location">Coeur d'Alene,Idaho</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-12.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">IRON HORSE</h5>
                        <div class="location">Whitefish,Montana</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-13.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">PLAYA GRANDE</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-14.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-15.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-16.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-17.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-18.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-19.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-20.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-21.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">HIDEAWAY</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-22.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">KUKIO</h5>
                        <div class="location">La Quinta,California</div>
                    </div>
                </div>
                <div class="box">
                    <div><img class="img" src="../Assets/Ourworld-23.jpg" alt=""></div>
                    <div class="maintitle">
                        <h5 class="title">MAKENA</h5>
                        <div class="location">Maui, Hawaii</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-top">
            <div class="footer-left">
                <img class="footerLogo" src="../Assets/footerLogo.png">
            </div>
            <div class="footer-data">
                <div class="footer-content">
                    <p>GET IN TOUCH</p>
                    <p>(480)634-5200</p>
                    <p>mail@discoverylandco.com</p>
                </div>
                <div class="footer-content">
                    <p>About DLC</p>
                    <p>Our Worlds</p>
                    <p>Experiences</p>
                    <p>Gallery</p>
                    <p>Press</p>
                </div>
                <div class="footer-content">
                    <p>Magazine</p>
                    <p>Careers</p>
                    <p>Foundation</p>
                    <p>Company</p>
                    <p>Contact</p>
                    <p>Privacy</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <span>@ DiscoveryLand Company. All rights reserved</span>
        </div>
    </footer>
</body>

</html>